body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #a2a2a2;
}

a {
    color: rgb(0, 81, 255);
    text-decoration: none;
    font-size: 100%;
    font-family: monospace;
    padding: 2% 0px;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 0.5%;
}

.content {
    display: flex;
    align-items: center;
    padding: 2%;
    gap: 2%;
}

.profile-img {
    flex-shrink: 0;
}

p {
    color: rgb(0, 0, 0);
    font-size: 100%;
    font-family: monospace;
    margin: 0;
    padding: 1%;
    text-align: left;
}

.section {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: default;
    z-index: 1;
}

.section.active {        
    color: rgb(0, 81, 255);
    cursor: default;
    pointer-events: none;
}

.section.exploding {
    background-image: url('images/explosion.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


